ENABLE_API_TOKEN=false
API_TOKEN= 
APP_ENV=production
LISTEN_HOST=0.0.0.0
LISTEN_PORT=7860
# (Required, Default: unbiased-small) Set this with detoxify model. Check list of model in detoxify github repository.
DETOXIFY_MODEL=unbiased-small